<div class="container mt-5">
    <h2 class="text-center mb-4">Agregar Usuario</h2>
    <form (ngSubmit)="editar(formulario)" #formulario="ngForm">
        
        <div class="mb-3">
            <label for="id" class="form-label">Cédula:</label>
            <input type="text" class="form-control" id="id" name="id" [(ngModel)]="id" required>
        </div>
        
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre:</label>
            <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="nombre" required>
        </div>

        <div class="mb-3">
            <label for="apellido" class="form-label">Apellido:</label>
            <input type="text" class="form-control" id="apellido" name="apellido" [(ngModel)]="apellido" required>
        </div>

        <div class="mb-3">
            <label for="domicilio" class="form-label">Domicilio:</label>
            <input type="text" class="form-control" id="domicilio" name="domicilio" [(ngModel)]="domicilio" required>
        </div>

        <!-- Botón para enviar -->
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Guardar Personal</button>
        </div>
    </form>
</div>