<table class="table table-striped">
    <thead>
        <tr>
            <th>Cedula</th>
            <th>nombre</th>
            <th>apellido</th>
            <th>Descripción</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let personal of personal">
            <td>{{personal.id}}</td>
            <td>{{personal.nombre}}</td>
            <td>{{personal.apellido}}</td>
            <td>{{personal.domicilio}}</td>
            <td>
                <a [routerLink]="['/editarPersonal', personal.id]" class="btn btn-success">Editar</a>
                <button class="btn btn-danger" (click)="eliminar(personal.id)">Eliminar</button>
            </td>
        </tr>
    </tbody>
</table>